#
# Enter your API key - It can be found at https://mms.mongodb.com/settings
#
mmsApiKey=${MMS_API_KEY}

#
# Hostname of the MMS Backup web server.
#
mothership=api-backup.mongodb.com

#
# Communicate with the MMS Backup web server over HTTPS
#
https=true

# For additional optional settings, please see
# https://mms.mongodb.com/help/reference/backup-agent