#
# Enter your Project ID - See: cloud.mongodb.com under Settings
# This new property became a requirement in backup agent version 5.5.0.
mmsGroupId=${MMS_GROUP_ID}

#
# Enter an API key - See: cloud.mongodb.com under Deployment -> Agents -> Agent API Keys
#
mmsApiKey=${MMS_API_KEY}

#
# Hostname used to contact Cloud Manager application servers.
#
mothership=api-backup.mongodb.com

#
# Communicate with the MMS Backup web server over HTTPS
#
https=true

# For additional optional settings, please see
# https://docs.cloud.mongodb.com/reference/backup-agent/